.blockContent p {
  margin: 1rem 1.8rem;
  color: black;
}

.blockContent h1,
.blockContent h2,
.blockContent h3,
.blockContent h4,
.blockContent h5,
.blockContent h6,
.blockContent ul,
.blockContent blockquote {
  margin: 1.2rem 1.8rem;
}

.blockContent li {
  margin-left: 2rem;
  list-style-type: disc;
}

.blockContent blockquote {
  border-left: 8px solid #ccc;
  margin: 1.5rem 1.8rem;
  padding: 0.8rem 0.8rem;
}

.blockContent h1,
.blockContent h2,
.blockContent h3 {
  margin-top: 1.8rem;
}

.blockContent h1 {
  font-size: 2.4rem;
  font-weight: bolder;
}

.blockContent h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.blockContent h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.blockContent h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.blockContent h5 {
  font-size: 1.1rem;
  font-weight: bold;
}

.blockContent h6 {
  font-size: 1rem;
  font-weight: bold;
}
