@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .buffer {
      padding: 0 15px;
    }
    .buffer-1 {
      padding: 0 30px;
    }
    .buffer-2 {
      padding: 0 60px;
    }
  }
}
